<h1>Private Gists</h1>

<% @gists.each do |gist| %>
  <div class="row">
    <div class="col-md-6">
      <%= link_to gist[:description], edit_gist_path(gist[:id]) %>
    </div>
    <div class="col-md-6">
      <%= link_to 'Delete',  { action: :destroy, id: gist[:id] }, method: :delete, class: 'btn btn-sm btn-danger' %>
    </div>
  </div>
<% end %>

<%= link_to 'New gist', new_gist_path %>

