---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Test gist 22121","files":{"":{"content":"fafdsdfdsfsf"}}}'
    headers:
      Authorization:
      - token my-access-token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Ratelimit-Reset:
      - '1540503056'
    body:
      encoding: UTF-8
      string: '{"message":"Bad credentials","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Thu, 25 Oct 2018 20:32:15 GMT
recorded_with: VCR 4.0.0
