---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"description":"Test gist 22121","files":{"":{"content":"fafdsdfdsfsf"}}}'
    headers:
      Authorization:
      - token my-access-token
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4918'
      X-Ratelimit-Reset:
      - '1540518538'
      Etag:
      - '"196a6669d35cc8a99959387bbca7b644"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - a867c8b4aa3ba8d9e7d0
      Location:
      - https://api.github.com/gists/ae4e4a59a366a78ca3057c9367af34ca
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/ae4e4a59a366a78ca3057c9367af34ca","forks_url":"https://api.github.com/gists/ae4e4a59a366a78ca3057c9367af34ca/forks","commits_url":"https://api.github.com/gists/ae4e4a59a366a78ca3057c9367af34ca/commits","id":"ae4e4a59a366a78ca3057c9367af34ca","node_id":"MDQ6R2lzdGFlNGU0YTU5YTM2NmE3OGNhMzA1N2M5MzY3YWYzNGNh","git_pull_url":"https://gist.github.com/ae4e4a59a366a78ca3057c9367af34ca.git","git_push_url":"https://gist.github.com/ae4e4a59a366a78ca3057c9367af34ca.git","html_url":"https://gist.github.com/ae4e4a59a366a78ca3057c9367af34ca","files":{"gistfile1.txt":{"filename":"gistfile1.txt","type":"text/plain","language":"Text","raw_url":"https://gist.githubusercontent.com/michdsouza/ae4e4a59a366a78ca3057c9367af34ca/raw/cf82f3e9ec3381b4592c62fd457b44b2131f7724/gistfile1.txt","size":12,"truncated":false,"content":"fafdsdfdsfsf"}},"public":false,"created_at":"2018-10-26T01:45:00Z","updated_at":"2018-10-26T01:45:00Z","description":"Test
        gist 22121","comments":0,"user":null,"comments_url":"https://api.github.com/gists/ae4e4a59a366a78ca3057c9367af34ca/comments","owner":{"login":"michdsouza","id":879181,"node_id":"MDQ6VXNlcjg3OTE4MQ==","avatar_url":"https://avatars0.githubusercontent.com/u/879181?v=4","gravatar_id":"","url":"https://api.github.com/users/michdsouza","html_url":"https://github.com/michdsouza","followers_url":"https://api.github.com/users/michdsouza/followers","following_url":"https://api.github.com/users/michdsouza/following{/other_user}","gists_url":"https://api.github.com/users/michdsouza/gists{/gist_id}","starred_url":"https://api.github.com/users/michdsouza/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/michdsouza/subscriptions","organizations_url":"https://api.github.com/users/michdsouza/orgs","repos_url":"https://api.github.com/users/michdsouza/repos","events_url":"https://api.github.com/users/michdsouza/events{/privacy}","received_events_url":"https://api.github.com/users/michdsouza/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"michdsouza","id":879181,"node_id":"MDQ6VXNlcjg3OTE4MQ==","avatar_url":"https://avatars0.githubusercontent.com/u/879181?v=4","gravatar_id":"","url":"https://api.github.com/users/michdsouza","html_url":"https://github.com/michdsouza","followers_url":"https://api.github.com/users/michdsouza/followers","following_url":"https://api.github.com/users/michdsouza/following{/other_user}","gists_url":"https://api.github.com/users/michdsouza/gists{/gist_id}","starred_url":"https://api.github.com/users/michdsouza/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/michdsouza/subscriptions","organizations_url":"https://api.github.com/users/michdsouza/orgs","repos_url":"https://api.github.com/users/michdsouza/repos","events_url":"https://api.github.com/users/michdsouza/events{/privacy}","received_events_url":"https://api.github.com/users/michdsouza/received_events","type":"User","site_admin":false},"version":"f56bffa21407c5074985ba2d1e55556d9abcfb8e","committed_at":"2018-10-26T01:44:59Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/ae4e4a59a366a78ca3057c9367af34ca/f56bffa21407c5074985ba2d1e55556d9abcfb8e"}],"truncated":false}'
  recorded_at: Fri, 26 Oct 2018 01:45:00 GMT
recorded_with: VCR 4.0.0
