---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/gists/b9287745812127f5929c21bc781d77ed
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token my-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4917'
      X-Ratelimit-Reset:
      - '1540518538'
      Etag:
      - '"9f3f84002f8de575c0b75ec6a589cf2f"'
      Last-Modified:
      - Thu, 25 Oct 2018 00:14:09 GMT
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - a867c8b4aa3ba8d9e7d0
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/b9287745812127f5929c21bc781d77ed","forks_url":"https://api.github.com/gists/b9287745812127f5929c21bc781d77ed/forks","commits_url":"https://api.github.com/gists/b9287745812127f5929c21bc781d77ed/commits","id":"b9287745812127f5929c21bc781d77ed","node_id":"MDQ6R2lzdGI5Mjg3NzQ1ODEyMTI3ZjU5MjljMjFiYzc4MWQ3N2Vk","git_pull_url":"https://gist.github.com/b9287745812127f5929c21bc781d77ed.git","git_push_url":"https://gist.github.com/b9287745812127f5929c21bc781d77ed.git","html_url":"https://gist.github.com/b9287745812127f5929c21bc781d77ed","files":{"testname.rb":{"filename":"testname.rb","type":"application/x-ruby","language":"Ruby","raw_url":"https://gist.githubusercontent.com/michdsouza/b9287745812127f5929c21bc781d77ed/raw/bba5729afd94dfbdce2f526e71bf429749e0b279/testname.rb","size":6,"truncated":false,"content":"dsfadf"}},"public":false,"created_at":"2018-10-24T18:52:07Z","updated_at":"2018-10-25T00:14:09Z","description":"Test
        description 123","comments":0,"user":null,"comments_url":"https://api.github.com/gists/b9287745812127f5929c21bc781d77ed/comments","owner":{"login":"michdsouza","id":879181,"node_id":"MDQ6VXNlcjg3OTE4MQ==","avatar_url":"https://avatars0.githubusercontent.com/u/879181?v=4","gravatar_id":"","url":"https://api.github.com/users/michdsouza","html_url":"https://github.com/michdsouza","followers_url":"https://api.github.com/users/michdsouza/followers","following_url":"https://api.github.com/users/michdsouza/following{/other_user}","gists_url":"https://api.github.com/users/michdsouza/gists{/gist_id}","starred_url":"https://api.github.com/users/michdsouza/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/michdsouza/subscriptions","organizations_url":"https://api.github.com/users/michdsouza/orgs","repos_url":"https://api.github.com/users/michdsouza/repos","events_url":"https://api.github.com/users/michdsouza/events{/privacy}","received_events_url":"https://api.github.com/users/michdsouza/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"michdsouza","id":879181,"node_id":"MDQ6VXNlcjg3OTE4MQ==","avatar_url":"https://avatars0.githubusercontent.com/u/879181?v=4","gravatar_id":"","url":"https://api.github.com/users/michdsouza","html_url":"https://github.com/michdsouza","followers_url":"https://api.github.com/users/michdsouza/followers","following_url":"https://api.github.com/users/michdsouza/following{/other_user}","gists_url":"https://api.github.com/users/michdsouza/gists{/gist_id}","starred_url":"https://api.github.com/users/michdsouza/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/michdsouza/subscriptions","organizations_url":"https://api.github.com/users/michdsouza/orgs","repos_url":"https://api.github.com/users/michdsouza/repos","events_url":"https://api.github.com/users/michdsouza/events{/privacy}","received_events_url":"https://api.github.com/users/michdsouza/received_events","type":"User","site_admin":false},"version":"0f39bed7294ad5fcda3812066b0d650c795ac1aa","committed_at":"2018-10-25T00:14:08Z","change_status":{"total":0,"additions":0,"deletions":0},"url":"https://api.github.com/gists/b9287745812127f5929c21bc781d77ed/0f39bed7294ad5fcda3812066b0d650c795ac1aa"},{"user":{"login":"michdsouza","id":879181,"node_id":"MDQ6VXNlcjg3OTE4MQ==","avatar_url":"https://avatars0.githubusercontent.com/u/879181?v=4","gravatar_id":"","url":"https://api.github.com/users/michdsouza","html_url":"https://github.com/michdsouza","followers_url":"https://api.github.com/users/michdsouza/followers","following_url":"https://api.github.com/users/michdsouza/following{[...]
