---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/gists/11e78e3a1145f471aa9ec113f908b446?access_token=my-access-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1540500848'
      Etag:
      - W/"c2cbe5888d0c1baef7ef4330ceab9a47"
      Last-Modified:
      - Wed, 24 Oct 2018 02:05:16 GMT
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - a867c8b4aa3ba8d9e7d0
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/gists/11e78e3a1145f471aa9ec113f908b446","forks_url":"https://api.github.com/gists/11e78e3a1145f471aa9ec113f908b446/forks","commits_url":"https://api.github.com/gists/11e78e3a1145f471aa9ec113f908b446/commits","id":"11e78e3a1145f471aa9ec113f908b446","node_id":"MDQ6R2lzdDExZTc4ZTNhMTE0NWY0NzFhYTllYzExM2Y5MDhiNDQ2","git_pull_url":"https://gist.github.com/11e78e3a1145f471aa9ec113f908b446.git","git_push_url":"https://gist.github.com/11e78e3a1145f471aa9ec113f908b446.git","html_url":"https://gist.github.com/11e78e3a1145f471aa9ec113f908b446","files":{"gistfile1.txt":{"filename":"gistfile1.txt","type":"text/plain","language":"Text","raw_url":"https://gist.githubusercontent.com/michdsouza/11e78e3a1145f471aa9ec113f908b446/raw/ebc883d9094612de9a099ad9567c657ecaa10d76/gistfile1.txt","size":13,"truncated":false,"content":"Secret
        secret"}},"public":false,"created_at":"2018-10-24T02:05:16Z","updated_at":"2018-10-24T02:05:16Z","description":"Private
        test gist","comments":0,"user":null,"comments_url":"https://api.github.com/gists/11e78e3a1145f471aa9ec113f908b446/comments","owner":{"login":"michdsouza","id":879181,"node_id":"MDQ6VXNlcjg3OTE4MQ==","avatar_url":"https://avatars0.githubusercontent.com/u/879181?v=4","gravatar_id":"","url":"https://api.github.com/users/michdsouza","html_url":"https://github.com/michdsouza","followers_url":"https://api.github.com/users/michdsouza/followers","following_url":"https://api.github.com/users/michdsouza/following{/other_user}","gists_url":"https://api.github.com/users/michdsouza/gists{/gist_id}","starred_url":"https://api.github.com/users/michdsouza/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/michdsouza/subscriptions","organizations_url":"https://api.github.com/users/michdsouza/orgs","repos_url":"https://api.github.com/users/michdsouza/repos","events_url":"https://api.github.com/users/michdsouza/events{/privacy}","received_events_url":"https://api.github.com/users/michdsouza/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"michdsouza","id":879181,"node_id":"MDQ6VXNlcjg3OTE4MQ==","avatar_url":"https://avatars0.githubusercontent.com/u/879181?v=4","gravatar_id":"","url":"https://api.github.com/users/michdsouza","html_url":"https://github.com/michdsouza","followers_url":"https://api.github.com/users/michdsouza/followers","following_url":"https://api.github.com/users/michdsouza/following{/other_user}","gists_url":"https://api.github.com/users/michdsouza/gists{/gist_id}","starred_url":"https://api.github.com/users/michdsouza/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/michdsouza/subscriptions","organizations_url":"https://api.github.com/users/michdsouza/orgs","repos_url":"https://api.github.com/users/michdsouza/repos","events_url":"https://api.github.com/users/michdsouza/events{/privacy}","received_events_url":"https://api.github.com/users/michdsouza/received_events","type":"User","site_admin":false},"version":"bfed61e12840bf1408c72a47003445e5507504c5","committed_at":"2018-10-24T02:05:16Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/11e78e3a1145f471aa9ec113f908b446/bfed61e12840bf1408c72a47003445e5507504c5"}],"truncated":false}'
  recorded_at: Thu, 25 Oct 2018 19:54:08 GMT
recorded_with: VCR 4.0.0
