---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/gists?access_token=my-access-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1540496818'
      Etag:
      - W/"ffa11d9d0050838ac48bdd26c08c6512"
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - a867c8b4aa3ba8d9e7d0
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/gists/ba851ffc2bfe4ad9e870cad23559ea3b","forks_url":"https://api.github.com/gists/ba851ffc2bfe4ad9e870cad23559ea3b/forks","commits_url":"https://api.github.com/gists/ba851ffc2bfe4ad9e870cad23559ea3b/commits","id":"ba851ffc2bfe4ad9e870cad23559ea3b","node_id":"MDQ6R2lzdGJhODUxZmZjMmJmZTRhZDllODcwY2FkMjM1NTllYTNi","git_pull_url":"https://gist.github.com/ba851ffc2bfe4ad9e870cad23559ea3b.git","git_push_url":"https://gist.github.com/ba851ffc2bfe4ad9e870cad23559ea3b.git","html_url":"https://gist.github.com/ba851ffc2bfe4ad9e870cad23559ea3b","files":{"gistfile1.txt":{"filename":"gistfile1.txt","type":"text/plain","language":"Text","raw_url":"https://gist.githubusercontent.com/michdsouza/ba851ffc2bfe4ad9e870cad23559ea3b/raw/b396c714f0bb43ddf55a7a7fd3bfbbfdf83ae358/gistfile1.txt","size":18}},"public":true,"created_at":"2018-10-25T01:02:21Z","updated_at":"2018-10-25T01:02:21Z","description":"New
        public gist","comments":0,"user":null,"comments_url":"https://api.github.com/gists/ba851ffc2bfe4ad9e870cad23559ea3b/comments","owner":{"login":"michdsouza","id":879181,"node_id":"MDQ6VXNlcjg3OTE4MQ==","avatar_url":"https://avatars0.githubusercontent.com/u/879181?v=4","gravatar_id":"","url":"https://api.github.com/users/michdsouza","html_url":"https://github.com/michdsouza","followers_url":"https://api.github.com/users/michdsouza/followers","following_url":"https://api.github.com/users/michdsouza/following{/other_user}","gists_url":"https://api.github.com/users/michdsouza/gists{/gist_id}","starred_url":"https://api.github.com/users/michdsouza/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/michdsouza/subscriptions","organizations_url":"https://api.github.com/users/michdsouza/orgs","repos_url":"https://api.github.com/users/michdsouza/repos","events_url":"https://api.github.com/users/michdsouza/events{/privacy}","received_events_url":"https://api.github.com/users/michdsouza/received_events","type":"User","site_admin":false},"truncated":false},{"url":"https://api.github.com/gists/771d34607703f7d0bbdc1d92f2c8ba79","forks_url":"https://api.github.com/gists/771d34607703f7d0bbdc1d92f2c8ba79/forks","commits_url":"https://api.github.com/gists/771d34607703f7d0bbdc1d92f2c8ba79/commits","id":"771d34607703f7d0bbdc1d92f2c8ba79","node_id":"MDQ6R2lzdDc3MWQzNDYwNzcwM2Y3ZDBiYmRjMWQ5MmYyYzhiYTc5","git_pull_url":"https://gist.github.com/771d34607703f7d0bbdc1d92f2c8ba79.git","git_push_url":"https://gist.github.com/771d34607703f7d0bbdc1d92f2c8ba7[...]
