---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/gists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token my-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1540573134'
      Etag:
      - '"aed23d172bfb3fdddf0f4f2e1bb99e04"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - a867c8b4aa3ba8d9e7d0
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/gists/a5a03786fbe32b189562f441e5a779ea","forks_url":"https://api.github.com/gists/a5a03786fbe32b189562f441e5a779ea/forks","commits_url":"https://api.github.com/gists/a5a03786fbe32b189562f441e5a779ea/commits","id":"a5a03786fbe32b189562f441e5a779ea","node_id":"MDQ6R2lzdGE1YTAzNzg2ZmJlMzJiMTg5NTYyZjQ0MWU1YTc3OWVh","git_pull_url":"https://gist.github.com/a5a03786fbe32b189562f441e5a779ea.git","git_push_url":"https://gist.github.com/a5a03786fbe32b189562f441e5a779ea.git","html_url":"https://gist.github.com/a5a03786fbe32b189562f441e5a779ea","files":{"testspec.rb":{"filename":"testspec.rb","type":"application/x-ruby","language":"Ruby","raw_url":"https://gist.githubusercontent.com/michdsouza/a5a03786fbe32b189562f441e5a779ea/raw/1d524b7c9f19aa9fe5cbcc1e43020f58a1a2d4ef/testspec.rb","size":14}},"public":false,"created_at":"2018-10-26T15:58:55Z","updated_at":"2018-10-26T15:58:56Z","description":"Test
        gist spec","comments":0,"user":null,"comments_url":"https://api.github.com/gists/a5a03786fbe32b189562f441e5a779ea/comments","owner":{"login":"michdsouza","id":879181,"node_id":"MDQ6VXNlcjg3OTE4MQ==","avatar_url":"https://avatars0.githubusercontent.com/u/879181?v=4","gravatar_id":"","url":"https://api.github.com/users/michdsouza","html_url":"https://github.com/michdsouza","followers_url":"https://api.github.com/users/michdsouza/followers","following_url":"https://api.github.com/users/michdsouza/following{/other_user}","gists_url":"https://api.github.com/users/michdsouza/gists{/gist_id}","starred_url":"https://api.github.com/users/michdsouza/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/michdsouza/subscriptions","organizations_url":"https://api.github.com/users/michdsouza/orgs","repos_url":"https://api.github.com/users/michdsouza/repos","events_url":"https://api.github.com/users/michdsouza/events{/privacy}","received_events_url":"https://api.github.com/users/michdsouza/received_events","type":"User","site_admin":false},"truncated":false},{"url":"https://api.github.com/gists/7bdb81997dbebb96e5c085b14e936cc8","forks_url":"https://api.github.com/gists/7bdb81997dbebb96e5c085b14e936cc8/forks","commits_url":"https://api.github.com/gists/7bdb81997dbebb96e5c085b14e936cc8/commits","id":"7bdb81997dbebb96e5c085b14e936cc8","node_id":"MDQ6R2lzdDdiZGI4MTk5N2RiZWJiOTZlNWMwODViMTRlOTM2Y2M4","git_pull_url":"https://gist.github.com/7bdb81997dbebb96e5c085b14e936cc8.git","git_push_url":"https://gist.github.com/7bdb81997dbebb96e5c085b14e936cc[...]
- request:
    method: delete
    uri: https://api.github.com/gists/7eec1175afef86ca8010c91d1d013ed7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token my-access-token
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/octet-stream
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
      X-Ratelimit-Reset:
      - '1540573134'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - a867c8b4aa3ba8d9e7d0
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 26 Oct 2018 16:13:22 GMT
[...]
