---
http_interactions:
- request:
    method: patch
    uri: https://api.github.com/gists/7eec1175afef86ca8010c91d1d013ed7
    body:
      encoding: UTF-8
      string: '{"description":"Updated private gist","files":{"gistfile500.txt":{"content":"updated
        content"}}}'
    headers:
      Authorization:
      - token my-access-token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '50'
      X-Ratelimit-Reset:
      - '1540520411'
    body:
      encoding: UTF-8
      string: '{"message":"Bad credentials","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Fri, 26 Oct 2018 01:48:43 GMT
recorded_with: VCR 4.0.0
