---
http_interactions:
- request:
    method: patch
    uri: https://api.github.com/gists/7eec1175afef86ca8010c91d1d013ed7
    body:
      encoding: UTF-8
      string: '{"description":"Updated private gist","files":{"gistfile500.txt":{"content":"updated
        content"}}}'
    headers:
      Authorization:
      - token my-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1540522147'
      Etag:
      - '"94083a91d59225b615673071f27f3122"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - a867c8b4aa3ba8d9e7d0
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/7eec1175afef86ca8010c91d1d013ed7","forks_url":"https://api.github.com/gists/7eec1175afef86ca8010c91d1d013ed7/forks","commits_url":"https://api.github.com/gists/7eec1175afef86ca8010c91d1d013ed7/commits","id":"7eec1175afef86ca8010c91d1d013ed7","node_id":"MDQ6R2lzdDdlZWMxMTc1YWZlZjg2Y2E4MDEwYzkxZDFkMDEzZWQ3","git_pull_url":"https://gist.github.com/7eec1175afef86ca8010c91d1d013ed7.git","git_push_url":"https://gist.github.com/7eec1175afef86ca8010c91d1d013ed7.git","html_url":"https://gist.github.com/7eec1175afef86ca8010c91d1d013ed7","files":{"gistfile500.txt":{"filename":"gistfile500.txt","type":"text/plain","language":"Text","raw_url":"https://gist.githubusercontent.com/michdsouza/7eec1175afef86ca8010c91d1d013ed7/raw/dd118c4a7081abcfaa69dd0d1f43315ad66c5f14/gistfile500.txt","size":15,"truncated":false,"content":"updated
        content"},"testname.rb":{"filename":"testname.rb","type":"application/x-ruby","language":"Ruby","raw_url":"https://gist.githubusercontent.com/michdsouza/7eec1175afef86ca8010c91d1d013ed7/raw/6a5a114faa1e32d84f6216e19c796a71b078128a/testname.rb","size":9,"truncated":false,"content":"dadADSAFD"}},"public":false,"created_at":"2018-10-26T00:16:58Z","updated_at":"2018-10-26T01:49:06Z","description":"Updated
        private gist","comments":0,"user":null,"comments_url":"https://api.github.com/gists/7eec1175afef86ca8010c91d1d013ed7/comments","owner":{"login":"michdsouza","id":879181,"node_id":"MDQ6VXNlcjg3OTE4MQ==","avatar_url":"https://avatars0.githubusercontent.com/u/879181?v=4","gravatar_id":"","url":"https://api.github.com/users/michdsouza","html_url":"https://github.com/michdsouza","followers_url":"https://api.github.com/users/michdsouza/followers","following_url":"https://api.github.com/users/michdsouza/following{/other_user}","gists_url":"https://api.github.com/users/michdsouza/gists{/gist_id}","starred_url":"https://api.github.com/users/michdsouza/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/michdsouza/subscriptions","organizations_url":"https://api.github.com/users/michdsouza/orgs","repos_url":"https://api.github.com/users/michdsouza/repos","events_url":"https://api.github.com/users/michdsouza/events{/privacy}","received_events_url":"https://api.github.com/users/michdsouza/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"michdsouza","id":879181,"node_id":"MDQ6VXNlcjg3OTE4MQ==","avatar_url":"https://avatars0.githubusercontent.com/u/879181?v=4","gravatar_id":"","url":"https://api.github.com/users/michdsouza","html_url":"https://github.com/michdsouza","followers_url":"https://api.github.com/users/michdsouza/followers","following_url":"https://api.github.com/users/michdsouza/following{/other_user}","gists_url":"https://api.github.com/users/michdsouza/gists{/gist_id}","starred_url":"https://api.github.com/users/michdsouza/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/michdsouza/subscriptions","organizations_url":"https://api.github.com/users/michdsouza/orgs","repos_url":"https://api.github.com/users/michdsouza/repos","events_url":"https://api.github.com/users/michdsouza/events{/privacy}","received_events_url":"https://api.github.com/users/michdsouza/received_events","type":"User","site_admin":false},"version":"0eca3501b3b43219867207524abf04ebf2b311c3","committed_at":"2018-10-26T01:49:06Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/7eec1175afef86ca8010c91d1d013ed7/0eca3501b3b43219867207524abf04ebf2b311c3"},{"user":{"login":"michdsouza","id":879181,"node_id":"MDQ6VXNlcjg3OTE4MQ==","avatar_url":"https://avatars0.githubusercontent.com/u/879181?v=4","gravatar_id":"","url":"https://api.github.com/users/michdsouza","html_url":"https://github.com/michdsouza","followers_url":"https://api.github.com/users/michdsouza/followers","following_url":"https://api.github.com/users/michdsouza/following{[...]
