---
http_interactions:
- request:
    method: patch
    uri: https://api.github.com/gists/11e78e3a1145f471aa9ec113f908b446
    body:
      encoding: UTF-8
      string: '{"description":"Updated private gist","files":{"gistfile500.txt":{"content":"updated
        content"}}}'
    headers:
      Authorization:
      - token my-access-token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Ratelimit-Reset:
      - '1540503056'
    body:
      encoding: UTF-8
      string: '{"message":"Bad credentials","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Thu, 25 Oct 2018 20:35:25 GMT
recorded_with: VCR 4.0.0
